body {
    background-image:url(Images/background.jpg);
    background-size:100%;
    background-color: #000000;
 }

 .container {
    margin-left:5%;
    margin-right:5%;
    margin-top:12%;
    border-radius:12px;
    padding-left:0%;
 }

 p {
    color:white;
    margin: 0;
    text-indent: 3ch;
    font-size: 12px;
  }

.row{
    background-color:#000000;
    opacity: .97;
    margin-left:2px;
    margin-right:2px;
    border-style: ridge;
    border-color:white;  
    border-width:5px;

}

.pull-right {
    margin: 0 0 0 auto;
    }

.btn-group {
    padding-left:0%;
    height:auto;
    background-color:rgb(0, 0, 0);
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.col-md-6{
    color:white;
}

.rounded{
  border-radius: 50px;
}


.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #000000, #ffffff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(3px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 8s infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}